<AppCard
  data-test-app-card-build={{@model.sequence}}
>
  <:meta-primary>
    <LinkTo
      @route="workspace.projects.project.app.build"
      @models={{array @model.id}}
      class="app-card__sequence-link"
    >
      <b class="badge badge--version">v{{@model.sequence}}</b>
    </LinkTo>
    <OperationStatusIndicator @status={{or @model.pushedArtifact.status @model.status}} />
  </:meta-primary>

  <:meta-secondary>
    <Pds::Icon
      @type={{icon-for-component @model.component.name}}
      class="icon app-card__component-icon"
    />

    <span>
      {{#if (eq @model.status.state 2)}}
        Built with
        <b>{{component-name @model.component.name}}</b>
      {{else if (eq @model.status.state 3)}}
        Failed to build with
        <b>{{component-name @model.component.name}}</b>
      {{else}}
        Building with
        <b>{{component-name @model.component.name}}</b>
      {{/if}}
    </span>

    {{#let @model.pushedArtifact as |pushedArtifact|}}
      {{#if pushedArtifact}}
          <Pds::Icon
            @type={{icon-for-component pushedArtifact.component.name}}
            class="icon app-card__component-icon"
            style="margin-left: 0.5rem"
          />

          <span>
            {{#if (eq pushedArtifact.status.state 2)}}
              Pushed to
              <b>{{component-name pushedArtifact.component.name}}</b>
            {{else if (eq pushedArtifact.status.state 3)}}
              Failed to push to
              <b>{{component-name pushedArtifact.component.name}}</b>
            {{else}}
              Pushing to
              <b>{{component-name pushedArtifact.component.name}}</b>
            {{/if}}
          </span>
      {{/if}}
    {{/let}}
  </:meta-secondary>
</AppCard>
