<li class="app-item">
  <LinkTo @route="workspace.projects.project.app.build" @models={{array @build.id}}>
    <p>
      <b class="badge badge--version">v{{@build.sequence}}</b>
    </p>
    <small class="app-item__meta__secondary">
      <Pds::Icon @type={{icon-for-component @build.component.name}} class="icon" />
      <span>
        {{if (eq @model.status.state 1) 'Building' 'Built'}} with
        <b>{{titleize @build.component.name}}</b>
      </span>

      {{#let @build.pushedArtifact as |pushedArtifact|}}
        {{#if pushedArtifact}}
          <Pds::Icon
            @type={{icon-for-component pushedArtifact.component.name}}
            class="icon"
            style="margin-left: 0.5rem"
          />

          <span>
            {{#if (eq pushedArtifact.status.state 2)}}
              Pushed to
              <b>{{component-name pushedArtifact.component.name}}</b>
            {{else if (eq pushedArtifact.status.state 3)}}
              Failed to push to
              <b>{{component-name pushedArtifact.component.name}}</b>
            {{else}}
              Pushing to
              <b>{{component-name pushedArtifact.component.name}}</b>
            {{/if}}
          </span>
        {{/if}}
      {{/let}}
    </small>
  </LinkTo>
  {{#let (or @build.pushedArtifact.status @build.status) as |status|}}
    <OperationStatusIndicator @status={{status}} />
  {{/let}}
</li>